{
    "presets": ["next/babel"],
    "plugins": [
        [
            "relay",
            {
                "artifactDirectory": "../../libs/graphql/src/generated/relay"
            }
        ]
    ]
}